header{
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    justify-content: space-between;
}

header .title{
    display: flex;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    display: flex;
    justify-content: right;
}
header nav ul li a{
    text-decoration: none;
    margin: 0 15px;
    color: white;
    font-weight: bold;
}