{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock css %}

{% block content %}
<main class="projects">
    {% for project in projects %}
    <article class="project-card">
        <h4 class="project-title">{{ project.title }}</h4>
        <p class="project-description">{{ project.description }}</p>
        <p class="project-status">{{ project.status }}</p>

        <div class="project-actions">

            <a href="{{ url_for('work_sessions', project_id=project.id) }}" class="sessions-btn">Sessions</a>
            <a href="{{ url_for('view_project', project_id=project.id) }}" class="secondary-btn">Details</a>
            <a href="{{ url_for('edit_project', project_id=project.id) }}" class="secondary-btn">Edit</a>

            <form action="{{ url_for('delete_project', project_id=project.id) }}" method="POST">
                <button type="submit" class="delete-btn">Delete</button>
            </form>
        </div>

    </article>
    {% endfor %}
</main>
<form class="new-project-btn-form" action="/new_project" method="GET">
    <button class="new-project-btn" type="submit">Create new project</button>
</form>

{% endblock content %}