<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Dashboard
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    <main class="projects">
        {% for project in projects %}
        <article class="project-card">
            <h4 class="project-title">{{ project.title }}</h4>
            <p class="project-description">{{ project.description }}</p>
            <p class="project-status">{{ project.status }}</p>
            <div class="project-actions">
                <a href="/work_sessions/{{ project.id }}" class="sessions-btn" >Sessions</a>
                <a href="/dashboard/view/{{ project.id }}" class="secondary-btn" >Details</a>
                <a href="/dashboard/edit/{{ project.id }}" class="secondary-btn" >Edit</a>
                <a href="/dashboard/delete/{{ project.id }}" class="delete-btn" >Delete</a>
            </div>
        </article>
        {% endfor %}
    </main>
    <form action="/new_project" method="GET">
        <button class="new-project-btn" type="submit">Create new project</button>
    </form>
</body>

</html>