{% extends 'base.html' %}

{% block title %}
Edit Project
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='edit_project.css') }}">
{% endblock css %}
{% block content %}
    <body>
        <main class="form-container">
            <form class="form" action="/dashboard/edit/{{ project.id }}" method = "POST">
                <label for="title">Title</label>
                <input type="text" name="title" value="{{ project.title }}">
                <br>
                <label for="description">Description</label>
                <input type="text" name="description" value="{{ project.description }}">
                <br>
                <label class="group-label">Status</label>
                    <div class="radio-group">
                        <label class="radio-option">
                            <input type="radio" name="status" value="Active"
                                {% if project.status == "Active" %}checked{% endif %}>
                            Active
                        </label>

                        <label class="radio-option">
                            <input type="radio" name="status" value="Completed"
                                {% if project.status == "Completed" %}checked{% endif %}>
                            Completed
                        </label>

                        <label class="radio-option">
                            <input type="radio" name="status" value="Stalled"
                                {% if project.status == "Stalled" %}checked{% endif %}>
                            Stalled
                        </label>
                    </div>
                <input type="submit" value="Update Project">
            </form>
        </main>
{% endblock %}
</body>
</html>