<html>
    <head>
        <title>New Project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='new_project.css') }}">
    </head>
    <body>
        <main class="form-container">
            <form class="form" action="/new_project" method = "POST">
                <label for="title">Title</label>
                <input type="text" name="title">
                <br>
                <label for="description">Description</label>
                <input type="text" name="description">
                <br>
                <label for="status">Status</label>
                <input type="text" name="status">
                <br>
                <input type="submit" value="Create Project">
            </form>
        </main>
    </body>
</html>