<html>
    <head>
        <title>New work session</title>
    </head>
    <body>
        <main>
            <form action="" method="POST">
            <label for="session-date">Session Date</label>
            <input type="date" name="session-date"><br>

            <label for="start_time">Start Time</label>
            <input type="time" name="start_time"><br>

            <label for="end_time">End Time</label>
            <input type="time" name="end_time"><br>
            
            <label for="work_description">Output Desired</label>
            <textarea name="work_description" cols="10"></textarea><br>

            <label for="outcome">Output Produced</label><br>
            <textarea name="outcome" cols="10"></textarea>

            <input type="submit" value="Submit">
            </form>
        </main>
    </body>
</html>