
{% extends 'base.html' %}

{% block title %}
New project
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_project.css') }}">
{% endblock css %}
{% block content %}
        <main class="form-container">
            <form class="form" action="/new_project" method = "POST">
                <label for="title">Title</label>
                <input type="text" name="title">
                <br>
                <label for="description">Description</label>
                <input type="text" name="description">
                <br>
                <input type="submit" value="Create Project">
            </form>
        </main>
{% endblock content %}