{% extends 'base.html' %}

{% block title %}
Project
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='view_project.css') }}">
{% endblock css %}
{% block content %}
        <main class="project-container">
            <h3 class="project-title">{{ project.title }}</h3>
            <p class="project-description">{{ project.description }}</p>
            <form action="/dashboard">
                <button class="back-link" type="submit">Back</button>
            </form>
        </main>
{% endblock %}